.contMainCrearServicio{
    padding: 3%;
    padding-top: .5%;
    /* border: black 2px solid; */
}
.mainFormCrearservicio{
    /* border: black 2px solid; */
    background-color: #6243b857;
    width: 50%;
    height: 400px;
    margin: auto;
    padding: 1%;
    box-shadow: 10px 6px 7px -4px rgba(0,0,0,0.75);
}
.contCrearServicio{
    /* border: black 2px solid; */
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 1%;
    justify-content: space-between;
}


.imgCrearServicio{
    width: 50%;
    height: 400px;
}

.NombreCrearServicio{
    /* border: black 2px solid; */
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
}

.DescrptionCrearServicio{
    /* border: black 2px solid; */
    width: 100%;
    margin: auto;
    margin-left: 10%;
}

.imagenCrearServicio{
    /* border: black 2px solid; */
    display: flex;
    margin-top: 2%;
    padding: .1%;
    box-sizing: border-box;
}

.contBtnCrearServicio{
    /* border: black 2px solid; */
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 2%;
    box-sizing: border-box;
}

.btnCrearServicio{
    /* border: black 2px solid; */
    display: flex;
    margin-left: auto;
    margin-right: 70%;
}