.imgPerfilSe{
    border-radius: 100%;
}
.cardServicio h5{
    text-align: center;
    font-size: 20px;
}
.cardServicio h5{
    text-align: center;
    font-size: 20px;
}
.cardServicio h2{
    text-align: center;
    font-size: 20px;
}
.cardServicio h3{
    text-align: center;
    padding-right: 5%;
    font-size: 25px;
}
.cardServicio p{
    text-align: left;
    padding-right: 5%;
    font-size: 25px;
}