.imgPerfilSe{
    border-radius: 100%;
    width: 100px;
    margin: 2%;
}

.cardServicio {
    border-color: rgb(219, 219, 219);
    padding-right: 5%;
    box-sizing: border-box;
}
 
.cardServicio h5{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1px !important;
}
.cardServicio h6{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin-left: 1%!important;
    
}
.cardServicio h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-right: 5%;
    font-size: 20px !important;
}
.cardServicio p{
   margin-left: 5% !important;
}