.cardServicio1{
    background: "#F2EFFF" ;
    margin-Top: "5%" !important;
    width: 100%;
    height: 95% !important;
}


.cardServicio p{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 16px;
    justify-content: flex-start;
    padding-bottom: 4px;
    
}

strong {
    font-weight: bold;
}