.card-main{
    margin-top: 5%;
    
}

.card-main h2{
    font-family: 'Acme', sans-serif;
    font-size: 150%;
    display: inline;
}

.card-main  h6{
    font-family: 'Acme', sans-serif;
    font-size: 100%;  
}