.mainHome {
  /* border: 2px black solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
 
}

.ant-carousel {
  /* border: 2px black solid; */
  width: 100%;
  margin-top: 1%;
  border-radius: 1rem;
}

.imgs {
  /* border: 2px solid black; */
  width: 98%;
  height: 500px;
  border-radius: 20px;
  margin: auto;
}

.search{
 display: flex;
  width: 40%;
  height: 50px;
  position: relative;
  margin-top: -3%;
  border-radius: 20px;
  
}
.anticon svg {
  display: inline-block;
  color:  #6243B8;
  font-size: 200%;
}

.about{
  margin-top: 5%;
}










.Mision {
  /* border: 2px black solid; */
  text-align: justify;
  width: 30%;
  height: auto;
}
.Vision {
  /* border: 2px black solid; */
  text-align: justify;
  width: 30%;
  height: auto;
}
.Valores {
  /* border: 2px black solid; */
  text-align: justify;
  width: 30%;
  height: auto;
}
