@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.mainMenu{
    
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0.6%;
    margin-bottom: 0.1%;
    box-sizing: border-box;
    
}
.menu{
    width: 20%;
    border: transparent;
    
    
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: transparent;
    border-bottom: transparent;
}




.items{
    font-family: 'Acme', sans-serif;
    font-size: 120%;
   
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    
}

.imgLogo2{
    
    width: 120px;
    margin-left: 60%;
}











