.MainProfile{
    background-color: rgba(161, 216, 248, 0.178);
    background-image: url("../../Assests/Img/serpentina1.png");

    /* border: black solid 2px; */
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-spacing: 0px;
}

.imgProfile{
    /* border:   black solid 2px; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 43%;
    margin-top: 1%;
}

.menu-tap {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(161, 216, 248, 0);
    margin-bottom: 4vh;
    ;
}

.menu-tap a{
    font-weight: bold;
}


h1{
    /* border:   black solid 2px; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin: 0px;
}
h3{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(110, 110, 110);
    /* border:   black solid 2px; */

}

.msm{
    background-color:rgba(0, 0, 255, 0.781) ;
    display: inline-block;
    text-align: center;
    margin-left: 46%;
    width: 8%;
    border-radius: 5rem;
    color: white;
    font-size: 17px;
}

.balls{
    width: 8%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    margin-left: 46%;
    /* border: 2px solid black; */
}
.ball1{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color:blue ;
}
.ball2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgb(240, 128, 180) ;
}
.ball3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgb(255, 115, 0) ;
}

.cont1{
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(161, 216, 248, 0);
}
.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.containerCards{
    
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.card1{
    /* border: 2px solid black; */
    width: 15%;
    margin-left: 2%;
    padding: 10px;
    text-align: justify;
    background-color: rgba(143, 141, 138, 0.034);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.527);

}

.it1 {
    /* border: 2px solid black; */
    display: inline;
    margin: 0px;
}
.it2{
    /* border: 2px solid black; */
    width: 150px;
    margin: 0px;
}
.it3, .it4, .it5{
    /* border: 2px solid black; */
    color: rgba(0, 0, 0, 0.527);
    margin: 0px;
}
