
.MainMenuSingle{
    width: 100%;
    height: 10%;
    /* background-color: #00152942; */
    /* border: 2px black solid; */
    display: flex;

    
}

.imgLogo1{
    width:  15%;
    margin-left: 5%;
    margin-top: 1%;
}

