
.MainMenu{
    background-color: #7904ff;
    /* border: 2px black solid; */
    width: 100%;
    height: 100%;
    display: flex; 

}



.imgLogo {
    /* border: black 2px solid; */
    background-color: #001529fd;
    width: 50%;
    height: 50px;

}

.imgLogo2{
    height: 100%;
    margin-left: 10%;
}

.keys{
    /* border: black 2px solid; */
    background-color: #00152942;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



