.mainGEvento{
    /* border: 2px black solid; */
    width: 70%;
    background-color: #6243b883;
    height: auto;
    margin: auto;
    margin-top: 1%;
    box-sizing: border-box;
    border-radius: 2rem;
}

.logoGEvento{
    /* border: 2px black solid; */
    width: 15%;
    display: flex;
    margin: auto;
    box-sizing: border-box;
    
}

.subMainEvento{
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-between;
    padding: 2%;
    box-sizing: border-box;
}

.contEvento{
    /* border: 2px black solid; */
    background-color: rgba(255, 255, 255, 0.39);
    width: 100%;
    height: auto;
    padding: 2%;
    padding-right: 1%;
    border-radius: 2rem;
    box-sizing: border-box;
    
}


.contEveto1{
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-evenly;
}
.contEveto2{
    /* border: 2px black solid; */
    padding-left: 25%;
}

.subMainEvento label{
    /* border: 2px black solid; */
    display: flex;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
    }



.ImgVideo{
    /* border: 2px black solid; */
    width: 90%;
    display: flex;
    height: auto;
    justify-content: center;
    margin: auto;
    margin: auto;
    margin-left: 30%;
    padding: 5%;
    box-sizing: border-box;
}

.contEventoItem{
  /* border: 2px black solid; */
  width: 100% !important;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contEventoItemF{
    /* border: 2px black solid; */
    width: 50%;
    display: flex;
    margin: auto;
    padding-left: 14%;
}
.subMainEvento .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0rem !important;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    height: 32px;
    margin-top: 5%;
    /* border: 1px solid black !important; */
}

.subMainEvento .contTime{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 5%;
    width: 30%;
    text-align: center;
    
}
.But{
    /* border: 2px solid black !important; */
    width: 50%;
    display: flex;
    margin: auto;
    margin-right: 50%;
    justify-content: center;
    background-color: #6243b8;
    border: transparent;
}

.But:hover{
    background-color: #6243b8a6;
    border: transparent;
}