.CrearEventoCliente{
   /* border: black solid; */
   width: 100%;
}
.CrearEventoCliente h1{
    /* border: black solid; */
    color: #8063FF;
 
}
.CrearEventoCliente label{
    color: rgba(0, 0, 0, 0.39);
}