.mainHome{
  background: #ffffff;
}



.ant-carousel .slick-slide {

    text-align: center;
    height: auto;
    overflow: hidden;
    /* border: black  2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .imgs{
    width: 100%;
    height: 560px;
  }

  .site-card-wrapper {
    padding: 0px;
    width: 80%;
    margin-left: 10%;
   
  }


.Card{
  display: flex ;
  flex-direction: row;
  justify-content: center;
}

.contImgcard{
  border: 2px black solid;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}