body {
  font-family: 'Roboto', sans-serif;
  
}

h1, h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

 button{
  font-family: 'Roboto', sans-serif!important;
   font-weight: bold!important;
 }
