.mainLogin {
    background-color: rgba(255, 235, 205, 0.411);
    background-image: url("../../Assests/Img/serpentina.png");
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgLogin {
    /* border: 10px rgba(129, 251, 255, 0.274) solid;
    border: 2px rgba(3, 25, 26, 0.219) solid; */
    /* margin: auto; */
    border-radius: 50%;
    width: 50%;
    height: 50%;
  
    
}

.ContainerLogin{
    /* border: 2px black solid; */
    display: flex ;
    width: 80% ;
    margin: auto;
    margin-top: 3%;
}




.formLogin {
    /* border: 2px black solid; */
    background-color:  rgba(3, 25, 26, 0.377);
    width: 50%;
    height: 100%;
    padding: 3%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 11px 11px 59px -10px rgba(0,0,0,0.61);


}

.avatar{
    /* border: 2px black solid; */
    margin: auto;
    background-color: rgba(251, 255, 0, 0.76);
}

.labelLogin {
    /* border: 2px black solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 5%;
    
}

.InputLogin {
    /* width: 0%; */
    margin-top: 1%;
    border-radius: 25rem;
}

.remember1{
    /* border: 2px black solid; */
    width: 50%;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);

}

.remember{
    /* border: 2px black solid; */
    /* padding-left: 350px; */
    width: 100%;
    display: flex;
}

.butonCont{
    /* border: black 2px solid; */
    display: flex;
    justify-content: center;
    padding-right: 10%;
    
}
.Buton{
    border: 2px black solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    background-color: rgba(251, 255, 0, 0.76) ;
    border: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;

}

.Buton:hover{
    background-color: rgba(251, 255, 0, 0.986) ;
    border: transparent;
    color: rgb(0, 0, 0);
}

.link {
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;




}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

a:hover{
    font-size: 16px;
    color: rgb(0, 0, 0);
}


.ant-checkbox-checked .ant-checkbox-inner {
    background-color: rgba(23, 24, 8, 0.473);
    /* border-color: #1890ff; */
}

